mimic-iii-clinical-database*/
mimic-iii-clinical-database*
!.gitkeep
*.cpython*
install.sh
.venv/
data/*
logs/*

todo.md
recycle_bin/*

get-pip.py
utils/event_extractor_specially_for_sentence.py
run_llm_snellius.sh
sucessful-logs/*
.env
run_llm_snellius.sh
.env
exports/groundtruth/F-SET/Annotating/Eating_258_190.pkl
exports/groundtruth/F-SET/Annotating/Eating_258_190.xlsx
exports/groundtruth/F-SET/Annotating/Excretion_97_230.pkl
exports/groundtruth/F-SET/Annotating/Excretion_97_230.xlsx
exports/groundtruth/F-SET/Annotating/Family_336_195.pkl
exports/groundtruth/F-SET/Annotating/Family_336_195.xlsx
exports/groundtruth/F-SET/Annotating/Pain_185_199.pkl
exports/groundtruth/F-SET/Annotating/Pain_185_199.xlsx
exports/groundtruth/F-SET/Annotating/Sleep_132_222.pkl
exports/groundtruth/F-SET/Annotating/Sleep_132_222.xlsx
exports/groundtruth/T-SET-Prelim/Annotating/Eating_226_155.pkl
exports/groundtruth/T-SET-Prelim/Annotating/Eating_226_155.xlsx
exports/groundtruth/T-SET-Prelim/Annotating/Family_322_145.pkl
exports/groundtruth/T-SET-Prelim/Annotating/Family_322_145.xlsx
exports/groundtruth/T-SET-Prelim/Annotating/Pain_142_172.pkl
exports/groundtruth/T-SET-Prelim/Annotating/Pain_142_172.xlsx
exports/groundtruth/T-SET-Prelim/Generated/Eating_226_155.pkl
exports/groundtruth/T-SET-Prelim/Generated/Eating_226_155.xlsx
exports/groundtruth/T-SET-Prelim/Generated/Excretion_64_189.pkl
exports/groundtruth/T-SET-Prelim/Generated/Excretion_64_189.xlsx
exports/groundtruth/T-SET-Prelim/Generated/Excretion_97_230.pkl
exports/groundtruth/T-SET-Prelim/Generated/Excretion_97_230.xlsx
exports/groundtruth/T-SET-Prelim/Generated/Family_322_145.pkl
exports/groundtruth/T-SET-Prelim/Generated/Family_322_145.xlsx
exports/groundtruth/T-SET-Prelim/Generated/Pain_142_172.pkl
exports/groundtruth/T-SET-Prelim/Generated/Pain_142_172.xlsx
exports/groundtruth/T-SET-Prelim/Generated/Sleep_121_182.pkl
exports/groundtruth/T-SET-Prelim/Generated/Sleep_121_182.xlsx
exports/groundtruth/T-SET-Prelim/Generated/Sleep_132_222.pkl
exports/groundtruth/T-SET-Prelim/Generated/Sleep_132_222.xlsx
exports/04_groundtruth/P-SET/Annotating/Eating_Documents.pkl
exports/04_groundtruth/P-SET/Annotating/Eating_Sentences.pkl
exports/04_groundtruth/P-SET/Annotating/Excretion_Documents.pkl
exports/04_groundtruth/P-SET/Annotating/Excretion_Sentences.pkl
exports/04_groundtruth/P-SET/Annotating/Family_Documents.pkl
exports/04_groundtruth/P-SET/Annotating/Family_Sentences.pkl
exports/04_groundtruth/P-SET/Annotating/Pain_Documents.pkl
exports/04_groundtruth/P-SET/Annotating/Pain_Sentences.pkl
exports/*.pkl
exports/04_dictionary_features.pkl
exports/05_llm_llama3.1:70b_P-SET/Sleep/Sleep_10_210_4783_164_att_False.pkl
exports/05_llm_llama3.1:70b_P-SET/Sleep/Sleep_10_210_4783_164_att_False.xlsx
exports/05_llm_llama3.1:70b_P-SET/Sleep/Sleep_10_210_4783_164_att_True.pkl
exports/05_llm_llama3.1:70b_P-SET/Sleep/Sleep_10_210_4783_164_att_True.xlsx
exports/05_llm_llama3.1:70b_P-SET copy/Sleep/Sleep_10_210_4783_164_att_False.pkl
exports/05_llm_llama3.1:70b_P-SET copy/Sleep/Sleep_10_210_4783_164_att_False.xlsx
exports/05_llm_llama3.1:70b_P-SET copy/Sleep/Sleep_10_210_4783_164_att_True.pkl
exports/05_llm_llama3.1:70b_P-SET copy/Sleep/Sleep_10_210_4783_164_att_True.xlsx
exports/temp*
exports/05_llm_llama3.1:70b_P-SET_15sep/Sleep/Sleep_10_210_4783_164_att_False.pkl
exports/05_llm_llama3.1:70b_P-SET_15sep/Sleep/Sleep_10_210_4783_164_att_False.xlsx
exports/05_llm_llama3.1:70b_P-SET_15sep/Sleep/Sleep_10_210_4783_164_att_True.pkl
exports/05_llm_llama3.1:70b_P-SET_15sep/Sleep/Sleep_10_210_4783_164_att_True.xlsx
ollama.log
