mimic-iii-clinical-database*/
mimic-iii-clinical-database*
exports/*
!exports/groundtruth/
!exports/groundtruth/**
!.gitkeep
*.cpython*
install.sh
.venv/
data/*
logs/*

todo.md
recycle_bin/*

get-pip.py
utils/event_extractor_specially_for_sentence.py
run_llm_snellius.sh
sucessful-logs/*
.env
run_llm_snellius.sh
.env
exports/groundtruth/F-SET/Annotating/Eating_258_190.pkl
exports/groundtruth/F-SET/Annotating/Eating_258_190.xlsx
exports/groundtruth/F-SET/Annotating/Excretion_97_230.pkl
exports/groundtruth/F-SET/Annotating/Excretion_97_230.xlsx
exports/groundtruth/F-SET/Annotating/Family_336_195.pkl
exports/groundtruth/F-SET/Annotating/Family_336_195.xlsx
exports/groundtruth/F-SET/Annotating/Pain_185_199.pkl
exports/groundtruth/F-SET/Annotating/Pain_185_199.xlsx
exports/groundtruth/F-SET/Annotating/Sleep_132_222.pkl
exports/groundtruth/F-SET/Annotating/Sleep_132_222.xlsx
