mimic-iii-clinical-database*/
mimic-iii-clinical-database*
exports/*
!exports/groundtruth/
!exports/groundtruth/**
!.gitkeep
*.cpython*
install.sh
.venv/
data/*
logs/*

todo.md
recycle_bin/*

exports/groundtruth/F-SET/Annotating/Eating_258_190.pkl
exports/groundtruth/F-SET/Annotating/Eating_258_190.xlsx
exports/groundtruth/F-SET/Annotating/Excretion_97_230.pkl
exports/groundtruth/F-SET/Annotating/Excretion_97_230.xlsx
exports/groundtruth/F-SET/Annotating/Family_336_195.pkl
exports/groundtruth/F-SET/Annotating/Family_336_195.xlsx
exports/groundtruth/F-SET/Annotating/Pain_185_199.pkl
exports/groundtruth/F-SET/Annotating/Pain_185_199.xlsx
exports/groundtruth/F-SET/Annotating/Sleep_132_222.pkl
exports/groundtruth/F-SET/Annotating/Sleep_132_222.xlsx
exports/groundtruth/T-SET-Prelim/Annotating/Eating_226_155.pkl
exports/groundtruth/T-SET-Prelim/Annotating/Eating_226_155.xlsx
exports/groundtruth/T-SET-Prelim/Annotating/Family_322_145.pkl
exports/groundtruth/T-SET-Prelim/Annotating/Family_322_145.xlsx
exports/groundtruth/T-SET-Prelim/Annotating/Pain_142_172.pkl
exports/groundtruth/T-SET-Prelim/Annotating/Pain_142_172.xlsx
exports/groundtruth/T-SET-Prelim/Generated/Eating_226_155.pkl
exports/groundtruth/T-SET-Prelim/Generated/Eating_226_155.xlsx
exports/groundtruth/T-SET-Prelim/Generated/Excretion_64_189.pkl
exports/groundtruth/T-SET-Prelim/Generated/Excretion_64_189.xlsx
exports/groundtruth/T-SET-Prelim/Generated/Excretion_97_230.pkl
exports/groundtruth/T-SET-Prelim/Generated/Excretion_97_230.xlsx
exports/groundtruth/T-SET-Prelim/Generated/Family_322_145.pkl
exports/groundtruth/T-SET-Prelim/Generated/Family_322_145.xlsx
exports/groundtruth/T-SET-Prelim/Generated/Pain_142_172.pkl
exports/groundtruth/T-SET-Prelim/Generated/Pain_142_172.xlsx
exports/groundtruth/T-SET-Prelim/Generated/Sleep_121_182.pkl
exports/groundtruth/T-SET-Prelim/Generated/Sleep_121_182.xlsx
exports/groundtruth/T-SET-Prelim/Generated/Sleep_132_222.pkl
exports/groundtruth/T-SET-Prelim/Generated/Sleep_132_222.xlsx
get-pip.py
utils/event_extractor_specially_for_sentence.py
run_llm_snellius.sh
